<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Document</title>
</head>
<body>
    <h1>hello World</h1>
    <form>
        <input id="m" label="temp:"/>
        <input id="d" label="place:"/>
        <button type="submit" >提交</button>
    </form>
    <div id="main" style="width: 600px;height:400px;"></div>
    
</body>
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script>
        var chartTemp = echarts.init(document.getElementById('main'),null,{renderer:'svg'});
        // 定义全局source 和 series 以便异步添加
        var source = [
                        {time: '2020-04-25', 'place_A': 43.3, 'place_B': 85.8, 'place_C': 93.7},
                        {time: '2020-04-26', 'place_A': 83.1, 'place_B': 73.4, 'place_C': 55.1},
                        {time: '2020-04-27', 'place_A': 86.4, 'place_B': 65.2, 'place_C': 82.5},
                        {time: '2020-04-28', 'place_A': 72.4, 'place_B': 13.9, 'place_C': 39.1}
                    ]
            source = []
        var series = [
                        {name:'place_A',type: 'line',encode:{x:'time',y:'place_A',tooltip:'place_A',seriesName:'place_A',itemId: 'place_A'}},
                        {name:'place_B',type: 'line',encode:{x:'time',y:'place_B',tooltip:'place_B',seriesName:'place_B',itemId: 'place_B'}},
                        {name:'place_C',type: 'line',encode:{x:'time',y:'place_C',tooltip:'place_C',seriesName:'place_C',itemId: 'place_C'}}
                    ]
            series = []
        // 指定图表的配置项和数据
        var option = {
                legend: {},
                tooltip: {},
                dataset: {
                    source,
                },
                xAxis: {type: 'time'},
                yAxis: {},
                series
            };

        // 使用刚指定的配置项和数据显示图表。
        chartTemp.setOption(option);
        
        function updateChart(res = {
            message: null,
            timestamp: null
        }){
            if(!res.timestamp){
                console.error('错误的报文格式')
                return
            }
            let name = res.message.from
            if(!isExist(series,name)){
                let seriesItem = transformMessageToSeriesItem(res)
                series.push(seriesItem)
                source = updateOldData(source)
            }
            let sourceItem = transformMessageToSourceItem(res)
            source.push(sourceItem)

            // 指定图表的配置项和数据
            var option = {
                    legend: {},
                    tooltip: {},
                    dataset: {
                        source,
                    },
                    xAxis: {
                        type: 'time',
                        //axisLabel: {
                        //    formatter: '{value} °C'
                        //}},
                    },
                    yAxis: {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value} °C'
                        }
                    },
                    series
                };

            // 使用刚指定的配置项和数据显示图表。
            chartTemp.setOption(option);
            
        }
    $(function () {
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/zigbee');
        socket.on('view_channl',(msg)=>{
            console.log(msg)
            updateChart(msg.data)
            $('#log').append('<p>Received: ' + msg.data + '</p>');
        })
        $('form').submit(function(){
            let temp = parseFloat($('#m').val())
            let from = $('#d').val()
            let data = {
                message:{
                    from,
                    temp
                },
                timestamp:Date()
            }
            socket.emit('collection_channl', data);
            $('#m').val('');
            return false;
        });
    });
    </script>
    <script></script>
</html>